<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="vLR5h98N7SYV7IkvSvZrTJ45GrGIpLD-8Q605k-Zz8M" />
    <meta name="baidu-site-verification" content="sQLdqbGBoj" />

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <script data-ad-client="ca-pub-2796637718040947" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
